@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href="~/assets/css/filter.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/exceljs/dist/exceljs.min.js"></script>
<script src="~/assets/script/BoxUnloading.js"></script>
<section class="breadcrumbs1" id="txtheaderdiv" style="display:none">
    <div class="container-fluid" style="">
        <div class="fix-header">
            <div class="row">
                <div class="col-md-6 col-6">
                    <div class="icon-tab">
                        <a class="btn-icon btn-danger" id="btnBack" onclick="Back()" title="Back"><i class='bx bx-arrow-back'></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <div id="tab1" class="tabSec tab active">UNLOADING</div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row" style="margin-left:-6px;margin-top:10px;display:block;" id="dvSearch">
        <div class="col-md-3  col-sm-6">
            <label for="txSearch" class="col-form-label-sm fw-bold">
                Search
            </label>
            <input type="text" id="txtSearch" name="txtSearch" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Search.." maxlength="50">
        </div>
    </div>
    <div class="row m-1" sstyle="display:none" id="UnloadingTable1">
       
    <div class="card-body">
        <div class="table-wrapper fixed-height-table">
            <table id="table1" class="fixed-width-table table ssm-table">
                <thead id="table-header1">
                </thead>
                <tbody id="table-body1">
                </tbody>
            </table>
        </div>
        <div class="paginator" id="paginator-table1">
        </div>
    </div>
</div>
    <div class="card shadow-sm textCreatepage" id="UnloadingForm" style="background-color:#e9e9ef;display:none">
        <div class="tabs">
          @*   <div class="tab-header">
                <div id="tab1" class="tab active" style="color:white">UNLOADING</div>
            </div> *@
            <div class="row p-1">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                        <audio id="SuccessVoice" style="display: none;"><source src="~/assets/audio/voice.mp3" type="audio/mpeg" /></audio>
                        <label for="txtMRNDate" class="col-form-label-sm fw-bold">MRN Date</label>
                            <input type="text" id="txtMRNDate" disabled class="box_border form-control form-control-sm" autocomplete="off">
                            <input type="text" id="txtCode" class="box_border form-control form-control-sm d-none" autocomplete="off">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <label for="txtVehicleNo" class="col-form-label-sm fw-bold">Vehicle No</label>
                            <input type="text" id="txtVehicleNo" disabled class="box_border form-control form-control-sm" autocomplete="off">
                        </div>
                        <div class="col-md-1 without-label-field" style="display:none;">
                            <label for="txtIsManual"></label>
                            <input type="checkbox" id="txtIsManual" name="txtIsManual" class="box_border" />
                            <label for="txtIsManual">Manual</label>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <label for="txtBoxNo" class="col-form-label-sm fw-bold">Box No</label><span class="text-danger">*</span>
                            <datalist id="txtBoxNoList"></datalist>
                            <input list="txtBoxNoList" id="txtBoxNo" class="box_border form-control form-control-sm" autocomplete="off" placeholder="Box No.." onfocus="this.select()">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <label for="txtPicklistNo" class="col-form-label-sm fw-bold">PicklistNo</label><span class="text-danger">*</span>
                            <input type="text" disabled id="txtPicklistNo" class="box_border form-control form-control-sm" autocomplete="off" placeholder="Picklist No..">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <label for="txtBoxQty" class="col-form-label-sm fw-bold">Total Box/Scanned Box/Left Box</label><br/>
                            <span for="txtBoxQty" id="txtBoxQty" class="col-form-label-sm" style="font-size: 18px;font-weight:bold;">0/0</span>
                        </div>
                        @* <div class="col-md-3 col-sm-6" style="margin-top: 33px !important;">
                            <button class="btn btn-danger btn-height" onclick="Back()">Back</button>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
    <div class="row p-2" sstyle="display:none" id="UnloadingTable">
        <div class="card-body">
            <div class="table-wrapper fixed-height-table">
            <table id="table" class="fixed-width-table table ssm-table">
                    <thead id="table-header">
                    </thead>
                    <tbody id="table-body">
                    </tbody>
                </table>
            </div>
            <div class="paginator" id="paginator-table">
            </div>
        </div>
    </div>
    </div>
    <div class="modal position-absolute" id="staticBackdrop" style="padding-top: 101px;" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header tab-header" style="background-color:#033764">
                    <level style="color:white">MRN PickList Status Details</level>
                    <button type="button" class="close modal-close btn-sm" aria-label="Close" data-bs-dismiss="modal"><span aria-hidden="true">x</span></button>
                    <input type="hidden" id="hfMRNMaster_Code" value="0" />
                    <input type="hidden" id="hfPicklistNo" value="0" />
                </div>
                <div class="modal-body">
                    <div class="row" style="margin:0;">
                        <div class="card-body">
                            <div class="table-wrapper fixed-height-table">
                                <table id="ModalTable" class="fixed-width-table table">
                                    <thead id="ModalTable-header">
                                    </thead>
                                    <tbody id="ModalTable-body">
                                    </tbody>
                                </table>
                            </div>
                            <!-- Paginator -->
                            <div class="paginator" id="paginator-ModalTable">
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-primary btn-height" onclick="DownloadInExcel()">Download</button>
                        <button type="button" class="btn btn-danger btn-height" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal position-absolute" id="ModelManual" style="padding-top: 201px;" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header tab-header" style="background-color:#033764">
                    <level style="color:white">Manual Update Box No</level>
                    <button type="button" class="close modal-close btn-sm" aria-label="Close" data-bs-dismiss="modal"><span aria-hidden="true">x</span></button>
                   
                </div>
                <div class="modal-body">
                    <label for="hfManualBoxNo" class="col-form-label-sm fw-bold">Box No</label> <span class="text-danger">*</span>
                    <input type="text" id="hfManualBoxNo" disabled class="box_border form-control form-control-sm" autocomplete="off" value="0" />
                    <label for="hfManualPicklistNo" class="col-form-label-sm fw-bold">Picklist No</label> <span class="text-danger">*</span>
                    <input type="text" id="hfManualPicklistNo" disabled class="box_border form-control form-control-sm" autocomplete="off" value="0" />
                    <input type="checkbox" id="chkUnloadedBox" checked/>
                    <label for="chkUnloadedBox" class="col-form-label-sm fw-bold">Unloaded</label>
                    
                    <div class="text-right">
                        <button type="button" class="btn btn-primary btn-height" onclick="SaveManualData()">Save</button>
                        <button type="button" class="btn btn-danger btn-height" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="overlay" class="overlay"></div>
<div id="toast" class="toast-container"></div>
<script src="~/assets/js/filter.js"></script>