@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href="~/assets/css/filter.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="~/assets/script/BoxValidation.js"></script>
<section class="breadcrumbs1" id="txtheaderdiv" style="display:none">
    <div class="container-fluid" style="">
        <div class="fix-header">
            <div class="row">
                <div class="col-md-6 col-6">
                    <div class="icon-tab">
                        <a class="btn-icon btn-danger" id="btnBack" onclick="Back()" title="Back"><i class='bx bx-arrow-back'></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <div id="tab1" class="tabSec tab active">VALIDATION</div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
<div class="row m-3 " sstyle="display:none" id="UnloadingTable1">
    <div class="card-body mt-2">
        <div class="table-wrapper fixed-height-table">
            <table id="table1" class="fixed-width-table table ssm-table">
                <thead id="table-header1">
                </thead>
                <tbody id="table-body1">
                </tbody>
            </table>
        </div>
        <div class="paginator" id="paginator-table1">
        </div>
    </div>
</div>
    <div class="card shadow-sm textCreatepage" id="ValidateFrom" style="background-color:#e9e9ef;display:none;">
    <div class="tabs">
       
        <div class="row p-1">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <audio id="SuccessVoice" style="display: none;"><source src="~/assets/audio/voice.mp3" type="audio/mpeg" /></audio>
                        <label for="txtPickListNo" class="col-form-label-sm fw-bold">PickList No</label>
                        <input type="text" id="txtPickListNo" disabled class="box_border form-control form-control-sm" autocomplete="off">
                        <input type="text" id="txtCode" class="box_border form-control form-control-sm d-none" autocomplete="off">
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <label for="txtVehicleNo" class="col-form-label-sm fw-bold">Vehicle No</label>
                        <input type="text" id="txtVehicleNo" disabled class="box_border form-control form-control-sm" autocomplete="off">
                    </div>
                    <div class="col-md-1 without-label-field" style="display:none;">
                        <label for="txtIsManual"></label>
                        <input type="checkbox" id="txtIsManual" name="txtIsManual" class="box_border" />
                        <label for="txtIsManual">Manual</label>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <label for="txtBoxNo" class="col-form-label-sm fw-bold">Box No</label><span class="text-danger">*</span>
                           <datalist id="txtBoxNoList"></datalist>
                           <input list="txtBoxNoList"id="txtBoxNo" class="box_border form-control form-control-sm" autocomplete="off" placeholder="Box No.." onfocus="this.select()">
                    </div>
                        <div class="col-md-1 col-sm-6">
                            <label for="txtCaseNo" class="col-form-label-sm fw-bold">Case No</label><br/>
                            <span id="txtCaseNo" style="font-size: 18px;font-weight:bold;">0</span>
                        </div>
                    <div class="col-md-3 col-sm-6">
                        <label for="txtScanProduct" class="col-form-label-sm fw-bold">Scan Product</label><span class="text-danger">*</span>
                        <input type="text" id="txtScanProduct" disabled class="box_border form-control form-control-sm" autocomplete="off" placeholder="Scan Product.." onfocus="this.select()">
                    </div>
                        
                  @*   <div class="col-md-3 col-sm-6" style="margin-top:20px !important;">
                        <button class="btn btn-danger btn-height" onclick="Back()">Back</button>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-2" style="display:none" id="UnloadingTable">
    <div class="card-body mt-2 ">
        <div class="table-wrapper fixed-height-table">
            <div class="text-end btnAuto p-1"><button class="btn btn-primary btn-height" title="AUTO UPDATE RECEIVED QTY" id="btnAutoUpdate">ACCEPT ALL</button></div>
            <table id="table" class="fixed-width-table table ssm-table">
                <thead id="table-header">
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
        </div>
        <div class="paginator" id="paginator-table">
        </div>
    </div>
</div>
<div id="overlay" class="overlay"></div>
<div id="toast" class="toast-container"></div>
</div>
<script src="~/assets/js/filter.js"></script>