@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href="~/assets/css/filter.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="~/assets/script/Dispatch.js"></script>

<style>
    /* .tabs {
                        width: 100%;
                        max-width: 2000px;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
                        border-radius: 8px;
                        overflow: hidden;
                        padding: 0.7rem;
                        background:#fff;
                    } */


    .tabSec {
        color: white;
        width: 117px;
        height: 36px;
        float: inline-end;
        font-size: 12px;
        text-align: center;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        line-height: 3;
        margin-top: -8px;
        background: #1d4b7d;
    }


    /*  .tab-header {
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
            } */

    .tab-content {
        display: none;
        padding: 16px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }

        .tab-content.active {
            display: block;
        }

    .tab[disabled] {
        cursor: not-allowed;
        opacity: 0.9;
    }

    .datepicker td, .datepicker th {
        border-radius: 20px !important;
    }

    .datepicker table tr td, .datepicker table tr td {
        padding: 8px 9px !important;
        height: 16px !important;
    }


    .fixed-height-table {
        height: auto;
    }
    /*
                .container-fluid {
                    overflow: auto;
                    height: 81vh;
                } */

    .datepicker table tfoot {
        display: none;
    }

    .fixed-height-table {
        height: auto;
    }

    .page-content {
        display: block;
    }

    .textCreatepage .tabs .fix-header {
        position: sticky;
        top: 0;
        background-color: #dddde4;
        z-index: 1000;
        padding: 8px 0 8px 9px;
        transition: background 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
        height: 36px;
    }


    .shadow-sm {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-color: #e9e9ef;
        margin-top: 15px;
        border-top: 1px solid #c9cae7;
    }

    .btn-icon {
        font-size: 14px;
        border-radius: 50%;
        background: #1d4b7d;
        color: #fff;
        padding: 6px;
    }

    .btn-icon {
        font-size: 14px;
        border-radius: 20px;
        background: #1d4b7d;
        color: #fff;
        padding: 6px;
    }

    .btn-danger {
        background-color: #ab1624;
    }

    .highlight {
        background-color: #f5c0bfc4;
    }

    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        /*  overflow: hidden;
                        height: auto; */
    }

    .container {
        overflow: auto;
        height: 81vh;
        /* overflow: hidden; */
    }
    /* .breadcrumbs .container-fluid .fix-header {
                    position: sticky;
                    top: 0;
                    background-color: #dddde4;
                    z-index: 1000;
                    padding: 8px 0 8px 9px;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
                    height: 36px;
                } */

    .breadcrumbs1 {
        background: #dddde4;
        position: sticky;
        top: 0;
        background-color: #dddde4;
        z-index: 1000;
        padding: 8px 0px 0px 9px;
        /* border-top-right-radius: 5px;
                        border-top-left-radius: 5px; */
        box-shadow: 0 2px 4px rgb(96 95 95 / 90%);
        /* height: 36px; */
        box-shadow: 0 1px 1px rgb(76 76 76 / 90%);
    }

    .page-content {
        padding: 3px 0;
    }
</style>
<section class="breadcrumbs1" id="txtheaderdiv" style="display:none">
    <div class="container-fluid" style="">
        <div class="fix-header">
            <div class="row">
                <div class="col-md-6 col-6">
                    <div class="icon-tab">
                        <a class="btn-icon me-1" onclick="Save()" id="txtsave" title="Save"><i class='bx bx-save'></i></a>
                        <a class="btn-icon btn-danger" id="btnBack" onclick="BackMaster()" title="Back"><i class='bx bx-arrow-back'></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <div id="tab1" class="tabSec tab active">NEW</div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
<div class="" id="txtListpage" style="display:block;">
    <div class="row">
        <div class="col-sm-12 text-end">
            <label></label>
            <button type="button" class="btn btn-primary btn-height" id="exportExcel">DOWNLOAD</button>
            <button type="button" class="btn btn-success btn-height" onclick="Create()">CREATE NEW</button>
        </div>
    </div>
    <div class="card-body mt-2">
        <div class="table-wrapper fixed-height-table">
            <table id="table" class="fixed-width-table table">
                <thead id="table-header">
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
        </div>
        <!-- Paginator -->
        <div class="paginator" id="paginator-table">
        </div>
    </div>
</div>
<div id="txtCreatepage" style="display:none;">
    <div class="card shadow-sm" style="background-color:#e9e9ef">
        <div class="tabs">
            <div class="tab-header">
                <div id="tab1" class="tab active" style="color:white"></div>
            </div>
            <div class="row pt-4">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 d-none">
                            <label for="txtChallanNo" class="col-form-label-sm fw-bold">Challan No</label><sub style="color:red">*</sub>
                            <input type="text" id="txtChallanNo" class="box_border form-control form-control-sm" autocomplete="off" placeholder="Challan No.." disabled>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <label for="txtChallanDate" class="col-form-label-sm fw-bold">Challan Date</label><sub style="color:red">*</sub>
                            <input type="hidden" id="hfCode" value="0">
                            <input type="text" id="txtChallanDate" class="box_border form-control form-control-sm" autocomplete="off" maxlength="200" placeholder="Challan Date">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <label for="txtClientName" class="col-form-label-sm fw-bold">Client Name</label><sub style="color:red">*</sub>
                            <datalist id="txtClientNameList"></datalist>
                            <input list="txtClientNameList" id="txtClientName" name="txtClientName" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Client Name">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <label for="txtAddress" class="col-form-label-sm fw-bold">Address<span class="text-danger">*</span></label>
                            <input type="text" id="txtAddress" class="box_border form-control form-control-sm" autocomplete="off" maxlength="200" placeholder="Address.." disabled>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <label for="txtVehicleNo" class="col-form-label-sm fw-bold">Vehicle No</label>
                            <input type="text" id="txtVehicleNo" class="box_border form-control form-control-sm" autocomplete="off" placeholder="Vehicle No..">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="divOrderBooking mb-2">
                <div class="accordion accordion-flush" id="accordionFlushOrder">
                    <div class="accordion-item tab active">
                        <h2 class="accordion-header tab-header .active" id="flush-headingOne">
                            <button class="accordion-button fw-medium tab-header div" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOrder" aria-expanded="false" aria-controls="flush-collapseOrder">
                                Dispatch Details
                            </button>
                        </h2>
                        <div id="flush-collapseOrder" class="accordion-collapse collapse show" aria-labelledby="flush-collapseOrder" data-bs-parent="#accordionFlushOrder" style="">
                            <div class="accordion-body-sec">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-wrapper" style="overflow: auto;">
                                            <table id="tblorderbooking" class="table">
                                                <thead role="rowgroup" class="text-sm-center">
                                                    <tr role="row">
                                                        <th class="lead-Date width_cust" role="columnheader">Order No<span class="text-danger">*</span></th>
                                                        <th class="lead-Date width_cust" role="columnheader">Item Barcode<span class="text-danger">*</span></th>
                                                        <th class="lead-Date width_cust" role="columnheader">Item Code<span class="text-danger">*</span></th>
                                                        <th class="lead-text width_cust" role="columnheader">Item Name<span class="text-danger">*</span></th>
                                                        <th class="lead-text width_cust" role="columnheader">Item Location<span class="text-danger">*</span></th>
                                                        <th class="lead-text width_cust" role="columnheader">UOM<span class="text-danger">*</span></th>
                                                        <th class="lead-Date width_cust" role="columnheader">Balance Order Qty</th>
                                                        <th class="lead-Date width_cust" role="columnheader">Qty Box</th>
                                                        <th class="lead-Date width_cust" role="columnheader">Dispatch Qty<span class="text-danger">*</span></th>
                                                        <th class="lead-text width_cust" role="columnheader">Rate<span class="text-danger">*</span></th>
                                                        <th class="lead-text width_cust" role="columnheader">Amount<span class="text-danger">*</span></th>
                                                        <th class="lead-text width_cust" role="columnheader">Remarks</th>
                                                        <th class="lead-text width_cust" role="columnheader">Delete</th>
                                                    </tr>
                                                    <!-- end table row-->
                                                </thead>
                                                <tbody id="Orderdata" role="rowgroup"></tbody>
                                                <tfoot>
                                                    <tr role="row" id="trAddBtn">
                                                        <td style="text-align: left;">
                                                            <input id="btnAddNewRow" type="button" class="submit-btn btn btn-primary btn-sm waves-effect waves-light" value="Add New Row" />
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <datalist id="txtOrderNo"></datalist>
            <datalist id="txtClientNameList"></datalist>
            <datalist id="txtItemBarCode"></datalist>
            <datalist id="txtItemCode"></datalist>
            <datalist id="txtItemName"></datalist>
            <datalist id="txtItemAddress"></datalist>
           @*  <div class="row m-2">
                <div class="col-md-12" style="margin-top: 30px !important;">
                    <button class="btn btn-primary btn-height" onclick="Save()" id="txtsave">Save</button>
                    <button class="btn btn-danger btn-height" onclick="BackMaster()">Back</button>
                </div>
            </div> *@
        </div>
    </div>
</div>
</div>
<script src="~/assets/js/filter.js"></script>

