@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href="~/assets/css/filter.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/blockui.js"></script>
<link href="~/assets/css/loader.css" rel="stylesheet" />
<script src="~/assets/script/ItemOpeningBalance.js"></script>

<section class="breadcrumbs1" id="txtHeaderDv1" style="display:none">
    <div class="container-fluid" style="">
        <div class="fix-header">
            <div class="row">
                <div class="col-md-6 col-6">
                    <div class="icon-tab">
                        @*  <a class="btn-icon me-1" onclick="Save()" id="txtsave" title="Save"><i class='bx bx-save'></i></a>
                        <a class="btn-icon btn-danger" id="btnBack" onclick="BackMaster()" title="Back"><i class='bx bx-arrow-back'></i></a> *@
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <div id="tab1" class="tabSec tab active">NEW</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs1" id="txtHeaderDv2" style="display:none">
    <div class="container-fluid" style="">
        <div class="fix-header">
            <div class="row">
                <div class="col-md-6 col-6">
                    <div class="icon-tab">
                        <a class="btn-icon me-1" onclick="SaveImport()" title="Save Import"><i class='bx bx-save'></i></a>
                        <a class="btn-icon btn-danger" id="btnBack" onclick="BackMaster()" title="Back"><i class='bx bx-arrow-back'></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <div id="tab1" class="tabSec tab active">Import</div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div id="txtCreatePage" style="display:block;">
        <div class="card shadow-sm">
            <div class="tabs">
                <div class="row">
                    <div class="col-sm-12 text-end">
                        <button type="button" class="btn btn-info btn-height" onclick="ImportExcel()" id="ImportExcel">IMPORT</button>
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <label for="txtWarehouse" class="col-form-label-sm fw-bold">Warehouse</label><span class="text-danger">*</span>
                                <select id="txtWarehouse" class="box_border form-control form-control-sm"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-2" id="divOrderBooking mb-2">
                    <div class="accordion accordion-flush" id="accordionFlushOrder">

                        <div class="accordion-item tab active">
                            <h2 class="accordion-header tab-header .active" id="flush-headingOne">
                                <button class="accordion-button fw-medium tab-header div" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOrder" aria-expanded="false" aria-controls="flush-collapseOrder">
                                    Item Opening Balance
                                </button>
                            </h2>
                            <div id="flush-collapseOrder" class="accordion-collapse collapse show" aria-labelledby="flush-collapseOrder" data-bs-parent="#accordionFlushOrder" style="">
                                <div class="accordion-body-sec">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-wrapper" style="overflow: auto;">
                                                <table id="table" class="table">
                                                    <thead id="table-header">
                                                    </thead>
                                                    <tbody id="table-body"></tbody>
                                                </table>
                                            </div>
                                            <div class="paginator" id="paginator-table">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal position-absolute" id="staticBackdrop" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header tab-header" style="background-color:#e9e9ef">
                            <div id="tab1" class="tab active" style="color:white">New</div>
                            <button type="button" class="close modal-close" aria-label="Close" data-bs-dismiss="modal"><span aria-hidden="true">x</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="row pt-4">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <label for="txtItemCode" class="col-form-label-sm fw-bold" id="txtItemCodelab">Item Code</label><span class="text-danger">*</span>
                                            <datalist id="txtItemCodelist"></datalist>
                                            <input list="txtItemCodelist" id="txtItemCode" onchange="FillallItemfield(this);"  class="box_border form-control form-control-sm" autocomplete="off" placeholder="Item Code..">
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <label for="txtItemBarCode" class="col-form-label-sm fw-bold" id="txtItembarcodelab">Item Bar Code</label><span class="text-danger">*</span>
                                            <datalist id="txtItemBarCodelist"></datalist>
                                            <input list="txtItemBarCodelist" disabled id="txtItemBarCode" class=" box_border form-control form-control-sm" autocomplete="off" placeholder="Item Bar Code..">
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <label for="txtItemName" class="col-form-label-sm fw-bold" id="txtItemNamelab">Item Name</label><span class="text-danger">*</span>
                                            <datalist id="txtItemNamelist"></datalist>
                                            <input list="txtItemNamelist" id="txtItemName" class="box_border form-control form-control-sm" disabled autocomplete="off" placeholder="Item Name..">
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <label for="txtOpeningBalance" class="col-form-label-sm fw-bold ">Opening Balance</label><span class="text-danger">*</span>
                                            <input type="text" id="txtOpeningBalance" onkeypress="return OnChangeNumericTextBox(event,this);" class="box_border form-control form-control-sm text-right Number" autocomplete="off" placeholder="Opening Balance..">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success btn-height" id="txtbtnSave" onclick="confirmSave()">Save</button>
                                <button type="button" class="btn btn-danger btn-height" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="txtImport" style="display:none;">
        <div class="card shadow-sm" style="background-color:#e9e9ef">
            <div class="tabs">
                <div class="row p-1">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <label for="txtImportWarehouse" class="col-form-label-sm fw-bold">Warehouse</label><span class="text-danger">*</span>
                                <select id="txtImportWarehouse" class="box_border form-control form-control-sm"></select>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label for="txtFile" class="col-form-label-sm fw-bold">File</label><span class="text-danger">*</span>
                                <input type="file" id="txtFile" class="box_border form-control form-control-sm" autocomplete="off" placeholder="file..">
                            </div>
                            <div class="col-md-3 col-sm-6" style="margin-top:32px;">
                                <button type="button" class="btn btn-info btn-height" onclick="DownloadTemplate();">Download Template</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-2 " id="dvImportTable" style="display:none;" >
                    <div class="accordion accordion-flush" id="accordionFlushOrder">
                        <div id="flush-collapseOrder" class="accordion-collapse collapse show" aria-labelledby="flush-collapseOrder" data-bs-parent="#accordionFlushOrder" style="">
                            <div class="accordion-body-sec">
                                <div class="row">
                                    <div class="col-md-12" style="background: white;padding: 0px;">
                                        <div class="table-wrapper" style="overflow: auto;">
                                            <table id="ImportTable" class="table">
                                                <thead id="ImportTable-header">
                                                </thead>
                                                <tbody id="ImportTable-body"></tbody>
                                            </table>
                                        </div>
                                        <div class="paginator" id="paginator-ImportTable">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/filter.js"></script>

