@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<link href="~/assets/css/filter.css" rel="stylesheet" />
<script src="~/assets/js/blockui.js"></script>
<link href="~/assets/css/loader.css" rel="stylesheet" />
<script src="~/assets/script/StockAuditReport.js"></script>
<script src="https://cdn.jsdelivr.net/npm/exceljs/dist/exceljs.min.js"></script>
<style>
    .datepicker td, .datepicker th {
        border-radius: 20px !important;
    }

    .datepicker table tr td, .datepicker table tr td {
        padding: 8px 9px !important;
        height: 16px !important;
    }

    .datepicker table tfoot {
        display: none;
    }

</style>
<div class="container">
    <div>
        <div class="row mt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3  col-sm-6">
                            <label for="txtFromDate" class="col-form-label-sm fw-bold">
                                From Date <span class="text-danger">*</span>
                            </label>
                            <input type="text" id="txtFromDate" name="txtFromDate" autocomplete="off" class="form-control form-control-sm box_border" placeholder="From Date.." maxlength="50">
                        </div>
                        <div class="col-md-3  col-sm-6">
                            <label for="txtToDate" class="col-form-label-sm fw-bold">
                                To Date <span class="text-danger">*</span>
                            </label>
                            <input type="text" id="txtToDate" name="txtToDate" autocomplete="off" class="form-control form-control-sm box_border" placeholder="To Date.." maxlength="50">
                        </div>
                        <div class="col-md-3  col-sm-6 " style="margin-top: 33px !important;">
                            <button class="btn btn-primary btn-height" title="Show" onclick="Report()">Show</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body mt-2" id="DataTable" style="display:none;">
            <div style="text-align:right;margin:1px">
                <button class="btn btn-primary btn-height" title="Show" onclick="Download()">Download</button>
            </div>
            <div class="table-wrapper fixed-height-table">
                <table id="table" class="fixed-width-table table">
                    <thead id="table-header">
                    </thead>
                    <tbody id="table-body">
                    </tbody>
                </table>
            </div>
            <div class="paginator" id="paginator-table">
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/filter.js"></script>