@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href="~/assets/css/filter.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script src="~/assets/script/accountmaster.js"></script>
<style>
    .tabs {
        width: 100%;
        max-width: 2000px;
        /* background: #fff;  */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        overflow: hidden;
        padding: 0.7rem;
    }
    .tab-header {
        display: flex;
        /* background: #e3e7ed; */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
    }
    .tab-header div {
        flex: 0.1;
        text-align: center;
        padding: 12px 16px;
        cursor: pointer;
        /* color: #fffffff5; */
        transition: background 0.3s ease;
        border-bottom-right-radius: 40px;
            border-top-left-radius: 40px;
    }
    .tab-header div:hover {
     background: #586e87;
     color:white;
    }
    .tab-header .active {
            background: #1d4b7d;
    }
    .tab-content {
        display: none;
        padding: 16px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }
    .tab-content.active {
        display: block;
    }
    .tab[disabled] {
        cursor: not-allowed;
        opacity: 0.9;
    }

    .fixed-height-table {
        height: auto;
    }
</style>
<div class="" id="txtListpage" style="display:block; width:50%; margin: 0 auto;">
    <div class="row">
        <div class="col-sm-12 text-end">
            <label></label>
            <button type="button" class="btn btn-primary btn-height" title="DOWNLOAD" id="exportExcel">DOWNLOAD</button>
            <button type="button" class="btn btn-success btn-height" title="CREATE NEW" onclick="CreateItemMaster()">CREATE NEW</button>
        </div>
    </div>
    <div class="card-body mt-2">
        <div class="table-wrapper fixed-height-table">
            <table id="table" class="fixed-width-table table">
                <thead id="table-header">
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
        </div>
        <!-- Paginator -->
        <div class="paginator" id="paginator-table">
        </div>
    </div>
</div>
<div id="txtCreatepage" style="display:none;">
    <div class="card shadow-sm" style="background-color:#e9e9ef">
        <div class="tabs">
            <div class="tab-header">
                <div id="tab1" class="tab active" style="color:white"></div>
            </div>
       
                <div class="row pt-4">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <label for="txtAccountName" class="col-form-label-sm fw-bold">Account Name </label><sub style="color:red">*</sub>
                                <input type="hidden" id="hfCode" value="0">
                                <input type="text" id="txtAccountName" oninput="updateDisplayName()" class="box_border form-control form-control-sm" autocomplete="off" maxlength="200" placeholder="Account Name">
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label for="txtDisplayName" class="col-form-label-sm fw-bold">Display Name</label><sub style="color:red">*</sub>
                                <input type="text" id="txtDisplayName" class="box_border form-control form-control-sm" autocomplete="off" maxlength="128" placeholder="Display Name">
                            </div>
                            <div class="col-md-4 col-sm-6">
                            <label for="txtPANNo" class="col-form-label-sm fw-bold">PAN No<span class="text-danger">*</span></label>
                            <input type="text" id="txtPANNo" class="box_border form-control form-control-sm" oninput="convertToUppercase(this)" autocomplete="off" maxlength="20" placeholder="PAN No">
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-2 mt-4">
                            <label for="txtIsClient"></label>
                            <input type="checkbox" id="txtIsClient" name="txtIsClient" class="box_border" checked />
                            <label for="txtIsClient">Client</label>
                        </div>
                        <div class="col-md-2 mt-4">
                            <label for="txtIsVendor"></label>
                            <input type="checkbox" id="txtIsVendor" name="txtIsVendor" class="box_border" checked />
                            <label for="txtIsVendor">Vendor</label>
                        </div>
                        </div>
                    </div>
                </div>
               
                <div class="row" id="divOrderBooking mb-2">
                    <div class="accordion accordion-flush" id="accordionFlushOrder">
                    <div class="accordion-item tab active">
                        <h2 class="accordion-header tab-header .active" id="flush-headingOne">
                            <button class="accordion-button fw-medium tab-header div" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOrder" aria-expanded="false" aria-controls="flush-collapseOrder">
                                Account Address
                                </button>
                            </h2>
                            <div id="flush-collapseOrder" class="accordion-collapse collapse show" aria-labelledby="flush-collapseOrder" data-bs-parent="#accordionFlushOrder" style="">
                                <div class="accordion-body-sec">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-wrapper" style="overflow: auto;">
                                                <table id="tblorderbooking" class="table">
                                                    <thead role="rowgroup" class="text-sm-center">
                                                        <tr role="row">
                                                        <th class="lead-Date width_cust" role="columnheader">Address Code <span class="text-danger">*</span></th>
                                                        <th class="lead-Date width_cust" role="columnheader">Address Line1<span class="text-danger">*</span></th>
                                                        <th class="lead-text width_cust" role="columnheader">Address Line2</th>
                                                        <th class="lead-text width_cust" role="columnheader">City <span class="text-danger">*</span></th>
                                                        <th class="lead-text width_cust" role="columnheader">State <span class="text-danger">*</span></th>
                                                        <th class="lead-Date width_cust" role="columnheader">Nation <span class="text-danger">*</span></th>
                                                        <th class="lead-Date width_cust" role="columnheader">PIN<span class="text-danger">*</span></th>
                                                        <th class="lead-text width_cust" role="columnheader">GSTIN</th>
                                                        <th class="lead-text width_cust" role="columnheader">Contact Person</th>
                                                        <th class="lead-text width_cust" role="columnheader">Phone</th>
                                                        <th class="lead-text width_cust" role="columnheader">Mobile<span class="text-danger">*</span></th>
                                                        <th class="lead-text width_cust" role="columnheader">Email<span class="text-danger">*</span></th>
                                                        <th class="lead-text width_cust" role="columnheader">Default</th>
                                                        <th class="lead-text width_cust" role="columnheader">Delete</th>
                                                        </tr>
                                                        <!-- end table row-->
                                                    </thead>
                                                    <tbody id="Orderdata" role="rowgroup"></tbody>
                                                    <tfoot>
                                                     
                                                        <tr role="row" id="trAddBtn">
                                                      
                                                            <td style="text-align: left;">
                                                                <input id="btnAddNewRow" type="button" class="submit-btn btn btn-primary btn-sm waves-effect waves-light" value="Add New Row" />

                                                            </td>
                                                        </tr>

                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <datalist id="txtStateNameList"></datalist>
                <datalist id="txtCityList"></datalist>
                <datalist id="txtCountryList"></datalist>
          
                <div class="row m-2">
                    <div class="col-md-12" style="margin-top: 30px !important;">
                    <button class="btn btn-primary btn-height" title="Save" onclick="Save()" id="txtsave">Save</button>
                    <button class="btn btn-danger btn-height" title="Back" onclick="BackMaster()">Back</button>
                    </div>
                </div>
        </div>
    </div>
</div> 


<script src="~/assets/js/filter.js"></script>

