@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href="~/assets/css/filter.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script src="~/assets/script/accountmaster.js"></script>
<style>
    .tabs {
        width: 100%;
        max-width: 2000px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        overflow: hidden;
        padding: 0.7rem;
    }

    .tabSec {
        color: white;
        width: 117px;
        height: 36px;
        float: inline-end;
        font-size: 12px;
        text-align: center;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        line-height: 3;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        margin-top: -8px;
        background: #1d4b7d;
    }


    /*  .tab-header {
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
                    } */

    .tab-content {
        display: none;
        padding: 16px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }

        .tab-content.active {
            display: block;
        }

    .tab[disabled] {
        cursor: not-allowed;
        opacity: 0.9;
    }

    .datepicker td, .datepicker th {
        border-radius: 20px !important;
    }

    .datepicker table tr td, .datepicker table tr td {
        padding: 8px 9px !important;
        height: 16px !important;
    }


    .datepicker table tfoot {
        display: none;
    }

    .fixed-height-table {
        height: auto;
    }

    .page-content {
        display: block;
    }

    .textCreatepage .tabs .fix-header {
        position: sticky;
        top: 0;
        background-color: #dddde4;
        z-index: 1000;
        padding: 8px 0 8px 9px;
        transition: background 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
        height: 36px;
    }


    .shadow-sm {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-color: #e9e9ef;
        margin-top: 15px;
        border-top: 1px solid #c9cae7;
    }

    .btn-icon {
        font-size: 14px;
        border-radius: 50%;
        background: #1d4b7d;
        color: #fff;
        padding: 6px;
    }

    .btn-icon {
        font-size: 14px;
        border-radius: 20px;
        background: #1d4b7d;
        color: #fff;
        padding: 6px;
    }

    .btn-danger {
        background-color: #ab1624;
    }

    .highlight {
        background-color: #f5c0bfc4;
    }

    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        /*  overflow: hidden;
                                height: auto; */
    }

    .container {
        overflow: auto;
        height: 81vh;
        /* overflow: hidden; */
    }
    /* .breadcrumbs .container-fluid .fix-header {
                            position: sticky;
                            top: 0;
                            background-color: #dddde4;
                            z-index: 1000;
                            padding: 8px 0 8px 9px;
                            border-top-right-radius: 5px;
                            border-top-left-radius: 5px;
                            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
                            height: 36px;
                        } */

    .breadcrumbs1 {
        background: #dddde4;
        position: sticky;
        top: 0;
        background-color: #dddde4;
        z-index: 1000;
        padding: 8px 0px 0px 9px;
        /* border-top-right-radius: 5px;
                                border-top-left-radius: 5px; */
        box-shadow: 0 2px 4px rgb(96 95 95 / 90%);
        /* height: 36px; */
        box-shadow: 0 1px 1px rgb(76 76 76 / 90%);
    }

    .page-content {
        padding: 3px 0;
    }

    .sm-table {
        width: 72% !important;
        margin: auto;
    }
</style>
<section class="breadcrumbs1" id="txtheaderdiv" style="display:none">
    <div class="container-fluid" style="">
        <div class="fix-header">
            <div class="row">
                <div class="col-md-6 col-6">
                    <div class="icon-tab">
                        <a class="btn-icon me-1" onclick="Save()" id="txtsave" title="Save"><i class='bx bx-save'></i></a>
                        <a class="btn-icon btn-danger" id="btnBack" onclick="BackMaster()" title="Back"><i class='bx bx-arrow-back'></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <div id="tab1" class="tabSec tab active">NEW</div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="sm-table mt-3" id="txtListpage">
        <div class="row">
            <div class="col-sm-12 text-end">
                <label></label>
                <button type="button" class="btn btn-primary btn-height" title="DOWNLOAD" onclick="DataExport()">DOWNLOAD</button>
                <button type="button" class="btn btn-success btn-height" title="CREATE NEW" onclick="CreateItemMaster()">CREATE NEW</button>
            </div>
        </div>
        <div class="card-body mt-2" id="txtAccounttable">
            <div class="table-wrapper fixed-height-table">
                <table id="table" class="fixed-width-table table">
                    <thead id="table-header">
                    </thead>
                    <tbody id="table-body">
                    </tbody>
                </table>
            </div>
            <!-- Paginator -->
            <div class="paginator" id="paginator-table">
            </div>
        </div>
    </div>
    <div id="txtCreatepage" style="display:none;">
        <div class="card shadow-sm" style="background-color:#e9e9ef">
            <div class="tabs">
                <div class="row p-1">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <label for="txtAccounCode" class="col-form-label-sm fw-bold">Account Code </label><span class="text-danger">*</span>
                                <input type="text" id="txtAccounCode" class="box_border form-control form-control-sm" autocomplete="off" maxlength="50" placeholder="Account Code">
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label for="txtAccountName" class="col-form-label-sm fw-bold">Account Name </label><span class="text-danger">*</span>
                                <input type="hidden" id="hfCode" value="0">
                                <input type="text" id="txtAccountName" oninput="updateDisplayName()" class="box_border form-control form-control-sm" autocomplete="off" maxlength="200" placeholder="Account Name">
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label for="txtDisplayName" class="col-form-label-sm fw-bold">Display Name</label><span class="text-danger">*</span>
                                <input type="text" id="txtDisplayName" class="box_border form-control form-control-sm" autocomplete="off" maxlength="128" placeholder="Display Name">
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label for="txtPANNo" class="col-form-label-sm fw-bold">PAN No<span class="text-danger">*</span></label>
                                <input type="text" id="txtPANNo" class="box_border form-control form-control-sm" oninput="convertToUppercase(this)" autocomplete="off" maxlength="20" placeholder="PAN No">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <label for="tdsAddressCode1" class="col-form-label-sm fw-bold">Address Code </label><span class="text-danger">*</span>
                                <input type="text" id="tdsAddressCode1" oninput="getCheckedRows(this);" class="box_border form-control form-control-sm" autocomplete="off" maxlength="20" placeholder="Address Code">
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label for="tdsAddressLine1" class="col-form-label-sm fw-bold">Address Line1 </label><span class="text-danger">*</span>
                                <input type="text" id="tdsAddressLine1" oninput="getCheckedRows(this);" class="box_border form-control form-control-sm" autocomplete="off" maxlength="200" placeholder="Address Line1">
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label for="tdsAddressLine2" class="col-form-label-sm fw-bold">Address Line2 </label>
                                <input type="text" id="tdsAddressLine2" oninput="getCheckedRows(this);" class="box_border form-control form-control-sm" autocomplete="off" maxlength="200" placeholder="Address Line2">
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label for="tdsCitysList" class="col-form-label-sm fw-bold">City </label><span class="text-danger">*</span>
                                <datalist id="tdsCitysAllList"></datalist>
                                <input list="tdsCitysAllList" id="tdsCitysList" onchange="FillallItemfield1(this);" oninput="getCheckedRows(this);" name="tdsCitysList" autocomplete="off" class="form-control form-control-sm box_border" placeholder="City">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <label for="tdsStatelist" class="col-form-label-sm fw-bold">State </label>
                                <datalist id="tdsStateAlllist"></datalist>
                                <input list="tdsStateAlllist" id="tdsStatelist" oninput="getCheckedRows(this);" name="tdsStatelist" autocomplete="off" class="form-control form-control-sm box_border" disabled placeholder="State">
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label for="tdsNationlist" class="col-form-label-sm fw-bold">Nation </label>
                                <datalist id="tdsNationAlllist"></datalist>
                                <input list="tdsNationAlllist" id="tdsNationlist" oninput="getCheckedRows(this);" name="tdsNationlist" autocomplete="off" class="form-control form-control-sm box_border" disabled placeholder="Nation">
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label for="tdsPIN" class="col-form-label-sm fw-bold">PIN </label>
                                <input type="text" id="tdsPIN" oninput="getCheckedRows(this);" onkeypress="return OnChangeNumericTextBox(this);" class="box_border form-control form-control-sm" autocomplete="off" maxlength="6" disabled placeholder="PIN">
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label for="tdsGSTIN" class="col-form-label-sm fw-bold">GSTIN </label>
                                <input type="text" id="tdsGSTIN" oninput="getCheckedRows(this);" class="box_border form-control form-control-sm" autocomplete="off" maxlength="15" placeholder="GSTIN">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <label for="tdsContactPerson" class="col-form-label-sm fw-bold">Contact Person </label>
                                <input type="text" id="tdsContactPerson" oninput="getCheckedRows(this);" class="box_border form-control form-control-sm" autocomplete="off" maxlength="200" placeholder="Contact Person">
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label for="tdsPhone" class="col-form-label-sm fw-bold">Phone </label>
                                <input type="text" id="tdsPhone" oninput="getCheckedRows(this);" onkeypress="return OnChangeNumericTextBox(this);" class="box_border form-control form-control-sm" autocomplete="off" maxlength="15" placeholder="Phone">
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label for="tdsMobile" class="col-form-label-sm fw-bold">Mobile </label>
                                <input type="text" id="tdsMobile" oninput="getCheckedRows(this);" onkeypress="return OnChangeNumericTextBox(this);" class="box_border form-control form-control-sm" autocomplete="off" maxlength="15" placeholder="Mobile">
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label for="tdsEmail" class="col-form-label-sm fw-bold">Email </label><span class="text-danger">*</span>
                                <input type="text" id="tdsEmail" oninput="getCheckedRows(this);" class="box_border form-control form-control-sm" autocomplete="off" maxlength="100" placeholder="Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 without-label-field">
                                <label for="txtIsClient"></label>
                                <input type="checkbox" id="txtIsClient" name="txtIsClient" class="box_border" checked />
                                <label for="txtIsClient">Client</label>
                            </div>
                            <div class="col-md-1 without-label-field">
                                <label for="txtIsVendor"></label>
                                <input type="checkbox" id="txtIsVendor" name="txtIsVendor" class="box_border" checked />
                                <label for="txtIsVendor">Vendor</label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row" id="divOrderBooking mb-2">
                    <div class="accordion accordion-flush" id="accordionFlushOrder">
                        <div class="accordion-item tab active">
                            <h2 class="accordion-header tab-header .active" id="flush-headingOne">
                                <button class="accordion-button fw-medium tab-header div" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOrder" aria-expanded="false" aria-controls="flush-collapseOrder">
                                    Account Address
                                </button>
                            </h2>
                            <div id="flush-collapseOrder" class="accordion-collapse collapse show" aria-labelledby="flush-collapseOrder" data-bs-parent="#accordionFlushOrder" style="">
                                <div class="accordion-body-sec">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-wrapper" style="overflow: auto;">
                                                <table id="tblorderbooking" class="table">
                                                    <thead role="rowgroup" class="text-sm-center">
                                                        <tr role="row">
                                                            <th class="lead-Date width_cust" role="columnheader">Address Code<span class="text-danger">*</span></th>
                                                            <th class="lead-Date width_cust" role="columnheader">Address Line1<span class="text-danger">*</span></th>
                                                            <th class="lead-text width_cust" role="columnheader">Address Line2</th>
                                                            <th class="lead-text width_cust" role="columnheader">City<span class="text-danger">*</span></th>
                                                            <th class="lead-text width_cust" role="columnheader">State
                                                            <th class="lead-Date width_cust" role="columnheader">Nation
                                                            <th class="lead-Date width_cust" role="columnheader">PIN</th>
                                                            <th class="lead-text width_cust" role="columnheader">GSTIN</th>
                                                            <th class="lead-text width_cust" role="columnheader">Contact Person</th>
                                                            <th class="lead-text width_cust" role="columnheader">Phone</th>
                                                            <th class="lead-text width_cust" role="columnheader">Mobile<span class="text-danger">*</span></th>
                                                            <th class="lead-text width_cust" role="columnheader">Email<span class="text-danger">*</span></th>
                                                            <th class="lead-text width_cust" role="columnheader">Default</th>
                                                            <th class="lead-text width_cust" role="columnheader">Delete</th>
                                                        </tr>
                                                        <!-- end table row-->
                                                    </thead>
                                                    <tbody id="Orderdata" role="rowgroup"></tbody>
                                                    <tfoot>

                                                        <tr role="row" id="trAddBtn">

                                                            <td style="text-align: left;">
                                                                <input id="btnAddNewRow" type="button" class="submit-btn btn btn-primary btn-sm waves-effect waves-light" value="Add New Row" />

                                                            </td>
                                                        </tr>

                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <datalist id="txtStateNameList"></datalist>
                <datalist id="txtCityList"></datalist>
                <datalist id="txtCountryList"></datalist>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/filter.js"></script>

