@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/css/filter.css" rel="stylesheet" />
<script src="~/assets/script/itemmaster.js"></script>
<style>
    .form-group {
        margin-bottom: 8px;
    }
</style>
<form>
    <div class="card shadow-sm">
        <div class="card-body shadow-sm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <label for="txtItemName" class="col-form-label-sm fw-bold">Item Name </label>
                                <input type="text" id="txtItemName" class="box_border form-control form-control-sm" autocomplete="off" maxlength="200">
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label for="txtDisplayName" class="col-form-label-sm fw-bold">Display Name</label>
                                <input type="text" id="txtDisplayName" class="box_border form-control form-control-sm" autocomplete="off" maxlength="128">
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label for="txtItembarcode" class="col-form-label-sm fw-bold">Item bar code</label>
                                <input type="text" id="txtItembarcode" class="box_border form-control form-control-sm Phone" autocomplete="off" maxlength="20">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <label for="txtPassword" class="col-form-label-sm fw-bold">UOM</label>
                                <input type="password" id="txtPassword" name="txtPassword" class="box_border form-control form-control-sm" autocomplete="off"  />
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label for="txtConfirmPassword" class="col-form-label-sm fw-bold">HSN Code</label>
                                <input type="password" id="txtConfirmPassword" name="txtConfirmPassword" class="box_border form-control form-control-sm" autocomplete="off" maxlength="8" />
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label for="txtEmailId" class="col-form-label-sm fw-bold">Category</label>
                                <input type="text" id="txtEmailId" class="box_border form-control form-control-sm" autocomplete="off" maxlength="50">
                            </div>

                        </div>
                        <div class="row">
                           
                            <div class="col-md-4 col-sm-6">
                                <label for="ddlDefaultCompany" class="col-form-label-sm fw-bold">Group Item</label>
                                <input type="text" id="txtEmailId" class="box_border form-control form-control-sm" autocomplete="off" maxlength="50">
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label for="ddlDesignation" class="col-form-label-sm fw-bold">Sub Group Item</label>
                                <input type="text" id="txtEmailId" class="box_border form-control form-control-sm" autocomplete="off" maxlength="50">
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label for="ddlDesignation" class="col-form-label-sm fw-bold">Brand</label>
                                <input type="text" id="txtEmailId" class="box_border form-control form-control-sm" autocomplete="off" maxlength="50">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <label for="txtAddress" class="col-form-label-sm fw-bold">MRP</label>
                                <input type="text" id="txtSystemName" class="number box_border form-control form-control-sm" autocomplete="off" maxlength="50">
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label for="txtSystemName" class="col-form-label-sm fw-bold">Reorder Level </label>
                                <input type="text" id="txtSystemName" class="box_border form-control form-control-sm" autocomplete="off" maxlength="100">
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label for="txtSystemName" class="col-form-label-sm fw-bold">Reorder Qty </label>
                                <input type="text" id="txtSystemName" class="box_border form-control form-control-sm" autocomplete="off" maxlength="100">
                            </div>
                           

                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <label for="txtAddress" class="col-form-label-sm fw-bold">Item Location</label>
                                <input type="text" id="txtSystemName" class="number box_border form-control form-control-sm" autocomplete="off" maxlength="50">
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label for="txtSystemName" class="col-form-label-sm fw-bold">Box Packing </label>
                                <input type="text" id="txtSystemName" class="box_border form-control form-control-sm" autocomplete="off" maxlength="100">
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label for="txtSystemName" class="col-form-label-sm fw-bold">Qtyin Box </label>
                                <input type="text" id="txtSystemName" class="box_border form-control form-control-sm" autocomplete="off" maxlength="100">
                            </div>
                           

                        </div>
                    </div>
                </div>
               <div class="row text-end">
                <div class="col-md-12" style="margin-top: 30px !important;">
                    <button class="btn btn-primary btn-height" onclick="Save()">Save</button>
                    <button class="btn btn-danger btn-height" onclick="BackMaster()">Back</button>
                </div>
               </div>
        </div>
    </div>
</form>
<script src="~/assets/js/filter.js"></script>