@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<script src="~/assets/js/filter.js"></script>
<link href="~/assets/css/filter.css" rel="stylesheet" />
<script src="~/assets/script/groupmaster.js"></script>
<script>
        let GCode = '@ViewBag.GCode';
        let GMode = '@ViewBag.GMode';
</script>
<style>

    #fetchReportButton {
        width: 60% !important;
        height: 29px;
        text-align: center !important;
        padding: 0px;
    }
</style>
<div class="">
    <div class="card shadow-sm" style="background-color:#e9e9ef">
        <div class="card-body  shadow-sm">
            <div class="row">
                <div class="col-md-3">
                    <label for="txtUOM" class="col-form-label-sm fw-bold">
                       Group Name <span style="color:red">*</span>
                    </label>
                    <input type="text" id="txtGroupName" name="txtGroupName" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Group Name" maxlength="50">
                </div>
                <div class="col-md-2" style="margin-top: 30px !important;">
                    <button class="btn btn-primary btn-height" onclick="Save()">Save</button>
                    <button class="btn btn-danger btn-height" onclick="BackMaster()">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
<scri
