@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href="~/assets/css/filter.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script src="~/assets/script/itemconfig.js"></script>
<section class="breadcrumbs1" id="txtheaderdiv" style="display:none">
    <div class="container-fluid" style="">
        <div class="fix-header">
            <div class="row">
                <div class="col-md-6 col-6">
                    <div class="icon-tab">
                        <a class="btn-icon me-1" onclick="Save()" id="txtsave" title="Save"><i class='bx bx-save'></i></a>
                        <a class="btn-icon btn-danger" id="btnBack" onclick="BackMaster()" title="Back"><i class='bx bx-arrow-back'></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <div id="tab1" class="tabSec tab active">NEW</div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div id="txtCreatepage" style="display:none;">
        <div class="card shadow-sm" style="background-color:#e9e9ef">
            <div class="tabs">
                <div class="row p-1">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6">
                                        <label for="txtItemName" class="col-form-label-sm fw-bold">Item Name </label><span class="text-danger">*</span>
                                        <input type="hidden" id="hfCode" value="0">
                                        <input type="text" id="txtItemName" class="box_border form-control form-control-sm" autocomplete="off" maxlength="100" placeholder="Item Name">
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <label for="txtItembarcode" class="col-form-label-sm fw-bold">Item Bar Code</label><span class="text-danger">*</span>
                                        <input type="text" id="txtItembarcode" class="box_border form-control form-control-sm" autocomplete="off" maxlength="100" placeholder="Item bar code">
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <label for="txtGroupItem" class="col-form-label-sm fw-bold">Group Item</label><span class="text-danger">*</span>

                                        <input type="text" id="txtGroupItem" name="txtGroupItem" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Group Item" maxlength="100">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6">
                                        <label for="txtSubGroupItem" class="col-form-label-sm fw-bold">Sub Group Item</label><span class="text-danger">*</span>
                                        <input type="text" id="txtSubGroupItem" name="txtSubGroupItem" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Sub Group Item" maxlength="100">
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <label for="txtItemLocation" class="col-form-label-sm fw-bold">Location Item</label><span class="text-danger">*</span>
                                        <input type="text" id="txtItemLocation" name="txtItemLocation" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Item Location" maxlength="100">
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <label for="txtItemCode" class="col-form-label-sm fw-bold">Item Code Special Characters.</label><span class="text-danger">*</span>
                                        <input type="text" id="txtItemCode" name="txtItemCode" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Item Code" maxlength="1">
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <label for="txtItemCodeHeader" class="col-form-label-sm fw-bold">Item Code Header</label><span class="text-danger">*</span>
                                        <input type="text" id="txtItemCodeHeader" name="txtItemCodeHeader" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Item Code Header" maxlength="50">
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <label for="txtMRPNo" class="col-form-label-sm fw-bold">MRPNo</label><span class="text-danger">*</span>
                                        <select id="txtMRPNo" class="form-control form-control-sm box_border">
                                        <option value="Y">Y</option>
                                        <option value="N">N</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*  <div class="row m-2">
                <div class="col-md-12" style="margin-top: 30px !important;">
                    <button class="btn btn-primary btn-height" title="Save" onclick="Save()" id="txtsave">Save</button>
                    <button class="btn btn-danger btn-height" title="Back" onclick="BackMaster()">Back</button>
                </div>
            </div> *@
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/filter.js"></script>

