@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href="~/assets/css/filter.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script src="~/assets/script/itemconfig.js"></script>

<div id="txtCreatepage" style="display:none;">
    <div class="card shadow-sm" style="background-color:#e9e9ef">
        <div class="card-body shadow-sm">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <label for="txtItemName" class="col-form-label-sm fw-bold">Item Name </label><sub style="color:red">*</sub>
                            <input type="hidden" id="hfCode" value="0">
                            <input type="text" id="txtItemName" class="box_border form-control form-control-sm" autocomplete="off" maxlength="200" placeholder="Item Name">
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <label for="txtItembarcode" class="col-form-label-sm fw-bold">Item Bar Code</label><sub style="color:red">*</sub>
                            <input type="text" id="txtItembarcode" class="box_border form-control form-control-sm Phone" autocomplete="off" maxlength="20" placeholder="Item bar code">
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <label for="txtGroupItem" class="col-form-label-sm fw-bold">Group Item</label><sub style="color:red">*</sub>
                           
                            <input type="text" id="txtGroupItem" name="txtGroupItem" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Group Item">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <label for="txtSubGroupItem" class="col-form-label-sm fw-bold">Sub Group Item</label><sub style="color:red">*</sub>
                          
                            <input type="text" id="txtSubGroupItem" name="txtSubGroupItem" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Sub Group Item">
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <label for="txtItemLocation" class="col-form-label-sm fw-bold">Location Item</label><sub style="color:red">*</sub>
                            <input type="text" id="txtItemLocation" name="txtItemLocation" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Item Location">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-end">
                <div class="col-md-12" style="margin-top: 30px !important;">
                    <button class="btn btn-primary btn-height" onclick="Save()" id="txtsave">Save</button>
                    <button class="btn btn-danger btn-height" onclick="BackMaster()">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/filter.js"></script>

