@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href="~/assets/css/filter.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<script src="~/assets/script/MRNMaster.js"></script>
<style>
    /* .tabs {
        width: 100%;
        max-width: 2000px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        overflow: hidden;
        padding: 0.7rem;
        background:#fff;
    } */

    .tabSec {
        color: white;
        width: 117px;
        height: 36px;
        float: inline-end;
        font-size: 12px;
        text-align: center;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        line-height: 3;
        margin-top: -8px;
        background: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    }

    .tab-header .active {
        background: #1d4b7d;
    }

    .tab-header {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
    }

    .tab-content {
        display: none;
        padding: 16px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }

        .tab-content.active {
            display: block;
        }

    .tab[disabled] {
        cursor: not-allowed;
        opacity: 0.9;
    }

    .datepicker td, .datepicker th {
        border-radius: 20px !important;
    }

    .datepicker table tr td, .datepicker table tr td {
        padding: 8px 9px !important;
        height: 16px !important;
    }

    .datepicker table tfoot {
        display: none;
    }

    .fixed-height-table {
        height: auto;
    }

    .container-fluid {
        overflow: auto;
        height: 81vh;
    }

    .page-content {
        display: block;
    }

    .textCreatepage .tabs .fix-header {
        position: sticky;
        top: 0;
        background-color: #dddde4;
        z-index: 1000;
        padding: 8px 0 8px 9px;
        transition: background 0.3s ease;
        /* border-radius: 30px; */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
        height: 36px;
    }

    .shadow-sm {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-color: #e9e9ef;
    }

    .btn-icon {
        font-size: 14px;
        border-radius: 20px;
        background: #1d4b7d;
        color: #fff;
        padding: 6px;
    }

    .btn-danger {
        background-color: #ab1624;
    }

    .highlight {
        background-color: #f5c0bfc4;
    }

</style>
<div id="txtListpage" style="display:block;">
    <div class="row">
        <div class="col-sm-12 text-end">
            <label></label>
            <button type="button" class="btn btn-info btn-height" onclick="ImportExcel()" id="ImportExcel">IMPORT</button>
            <button type="button" class="btn btn-primary btn-height" id="exportExcel">DOWNLOAD</button>
            <button type="button" class="btn btn-success btn-height" onclick="Create()">CREATE NEW</button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3  col-sm-6">
                        <label for="txtFromDate" class="col-form-label-sm fw-bold">
                            From Date <span class="text-danger">*</span>
                        </label>
                        <input type="text" id="txtFromDate" name="txtFromDate" autocomplete="off" class="form-control form-control-sm box_border" placeholder="From Date.." maxlength="50">
                    </div>
                    <div class="col-md-3  col-sm-6">
                        <label for="txtToDate" class="col-form-label-sm fw-bold">
                            To Date <span class="text-danger">*</span>
                        </label>
                        <input type="text" id="txtToDate" name="txtToDate" autocomplete="off" class="form-control form-control-sm box_border" placeholder="To Date.." maxlength="50">
                    </div>
                    <div class="col-md-3  col-sm-6 " style="margin-top: 33px !important;">
                        <button class="btn btn-primary btn-height" title="Show" id="txtShow">Show</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body mt-2" id="MRNTable">
        <div class="table-wrapper fixed-height-table">
            <table id="table" class="fixed-width-table table">
                <thead id="table-header">
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
        </div>
        <!-- Paginator -->
        <div class="paginator" id="paginator-table">
        </div>
    </div>
</div>
<div class="textCreatepage" id="txtCreatepage" style="display:none;box-shadow: rgb(130 127 127 / 200%) 0px 4px 6px; border-radius: 10px;">
    <div class="card shadow-sm" style="background-color:#e9e9ef">
        <div class="tabs">
            <div class="fix-header tab-header">
                <div class="row">
                    <div class="col-md-6 col-6">
                        <div class="icon-tab">
                            <a class="btn-icon me-1" onclick="Save()" id="txtsave" title="Save"><i class='bx bx-save'></i></a>
                            <a class="btn-icon btn-danger" id="btnBack" onclick="BackMaster()" title="Back"><i class='bx bx-arrow-back'></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-6">
                        <div id="tab1" class="tabSec tab active" style="font-weight: bold;"></div>
                    </div>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <label for="txtMRNNo" class="col-form-label-sm fw-bold">MRN No</label><span class="text-danger">*</span>
                            <input type="text" id="txtMRNNo" class="box_border form-control form-control-sm" autocomplete="off" placeholder="MRN No.." disabled>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <label for="txtMRNDate" class="col-form-label-sm fw-bold">MRN Date</label><span class="text-danger">*</span>
                            <input type="hidden" id="hfCode" value="0">
                            <input type="text" id="txtMRNDate" class="box_border form-control form-control-sm" autocomplete="off" maxlength="200" placeholder="MRN Date..">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <label for="txtVendorName" class="col-form-label-sm fw-bold">Vendor Name</label><span class="text-danger">*</span>
                            <datalist id="txtVendorNameList"></datalist>
                            <input list="txtVendorNameList" id="txtVendorName" name="txtVendorName" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Vender Name">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <label for="txtAddress" class="col-form-label-sm fw-bold">
                                Address
                            </label><span class="text-danger">*</span>
                            <input type="text" id="txtAddress" class="box_border form-control form-control-sm" autocomplete="off" maxlength="200" placeholder="Address.." disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <label for="txtChallanNo" class="col-form-label-sm fw-bold">Bill /Challan No</label><span class="text-danger">*</span>
                            <input type="text" id="txtChallanNo" class="box_border form-control form-control-sm" autocomplete="off" placeholder="Bill/Challan No..">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <label for="txtChallanDate" class="col-form-label-sm fw-bold">Bill/Challan Date</label><span class="text-danger">*</span>
                            <input type="text" id="txtChallanDate" class="box_border form-control form-control-sm" autocomplete="off" maxlength="200">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <label for="txtVehicleNo" class="col-form-label-sm fw-bold">Vehicle No</label>
                            <input type="text" id="txtVehicleNo" onkeyup="convertToUppercase(this);" class="box_border form-control form-control-sm" maxlength="50" autocomplete="off" placeholder="Vehicle No..">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="divOrderBooking mb-2">
                <div class="accordion accordion-flush" id="accordionFlushOrder">
                    <div class="accordion-item tab active">
                        <h2 class="accordion-header tab-header .active" id="flush-headingOne">
                            <button class="accordion-button fw-medium tab-header div" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOrder" aria-expanded="false" aria-controls="flush-collapseOrder">
                                MRN Details
                            </button>
                        </h2>
                        <div id="flush-collapseOrder" class="accordion-collapse collapse show" aria-labelledby="flush-collapseOrder" data-bs-parent="#accordionFlushOrder" style="">
                            <div class="accordion-body-sec">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-wrapper" style="overflow: auto;">
                                            <table id="tblorderbooking" class="table">
                                                <thead role="rowgroup" class="text-sm-center">
                                                    <tr role="row">
                                                        <th class="lead-Date width_cust" role="columnheader">Item Barcode<span class="text-danger">*</span></th>
                                                        <th class="lead-Date width_cust" role="columnheader">Item Code<span class="text-danger">*</span></th>
                                                        <th class="lead-text width_cust" role="columnheader">Item Name<span class="text-danger">*</span></th>
                                                        <th class="lead-text width_cust" role="columnheader">Item Location</th>
                                                        <th class="lead-text width_cust" role="columnheader">UOM</th>
                                                        <th class="lead-Date width_cust" role="columnheader">Bill Qty Box</th>
                                                        <th class="lead-Date width_cust" role="columnheader">Received Qty Box</th>
                                                        <th class="lead-text width_cust" role="columnheader">Bill Qty<span class="text-danger">*</span></th>
                                                        <th class="lead-text width_cust" role="columnheader">Received Qty<span class="text-danger">*</span></th>
                                                        <th class="lead-text width_cust" role="columnheader">Rate<span class="text-danger">*</span></th>
                                                        <th class="lead-text width_cust" role="columnheader">Amount<span class="text-danger">*</span></th>
                                                        <th class="lead-text width_cust" role="columnheader">Warehouse<span class="text-danger">*</span></th>
                                                        <th class="lead-text width_cust" role="columnheader">Remarks</th>
                                                        <th class="lead-text width_cust" role="columnheader">Delete</th>
                                                    </tr>
                                                    <!-- end table row-->
                                                </thead>
                                                <tbody id="Orderdata" role="rowgroup"></tbody>
                                                <tfoot>
                                                    <tr role="row" id="trAddBtn" style="font-weight:bold">
                                                        <td style="text-align: left;">
                                                            <input id="btnAddNewRow" type="button" class="submit-btn btn btn-primary btn-sm waves-effect waves-light" value="Add New Row" />
                                                        </td>
                                                        <td colspan="4" class="text-right">TOTAL :</td>
                                                        <td id="txtBillQtyBox" class="text-right">0.00</td>
                                                        <td id="txtReceivedQtyBox" class="text-right">0.00</td>
                                                        <td id="txtBillQty" class="text-right">0.00</td>
                                                        <td id="txtReceivedQty" class="text-right">0.00</td>
                                                        <td id="txtRate" class="text-right">0.00</td>
                                                        <td id="txtAmount" class="text-right">0.00</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <datalist id="txtItemBarCode"></datalist>
            <datalist id="txtItemName"></datalist>
            <datalist id="txtItemCode"></datalist>
            <datalist id="txtWarehouse"></datalist>
           @*  <div class="row m-2">
                <div class="col-md-12" style="margin-top: 30px !important;">
                    <button class="btn btn-primary btn-height" onclick="Save()" id="txtsave">Save</button>
                    <button class="btn btn-danger btn-height" id="btnBack" onclick="BackMaster()">Back</button>
                </div>
            </div> *@
        </div>
    </div>
</div>

<div class="textCreatepage" id="txtImportPage" style="display:none;box-shadow: rgb(130 127 127 / 200%) 0px 4px 6px; border-radius: 10px;">
    <div class="card shadow-sm" style="background-color:#e9e9ef">
        <div class="tabs">
            <div class="fix-header tab-header">
                <div class="row">
                    <div class="col-md-6 col-6">
                        <div class="icon-tab">
                            <a class="btn-icon me-1" id="btnImport" onclick="SaveImportFile()" title="Save"><i class='bx bx-save'></i></a>
                            <a class="btn-icon btn-danger" id="btnBack" onclick="BackImport()" title="Back"><i class='bx bx-arrow-back'></i></a>
                        </div>
                    </div>

                    <div class="col-md-6 col-6">

                        <div id="tab1" class="tabSec tab active" style="font-weight: bold;">IMPORT</div>
                    </div>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <label for="txtVendorName" class="col-form-label-sm fw-bold">Vendor Name</label><span class="text-danger">*</span>
                            <datalist id="txtVendorNameList"></datalist>
                            <input list="txtVendorNameList" id="txtImportVendorName" name="txtVendorName" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Vender Name">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <label for="txtImportWarehouse" class="col-form-label-sm fw-bold">Warehouse</label><span class="text-danger">*</span>
                            <datalist id="txtImportWarehouseList"></datalist>
                            <input list="txtImportWarehouseList" id="txtImportWarehouse" name="txtVendorName" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Vender Name">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <label for="txtVehicleNo" class="col-form-label-sm fw-bold">Vehicle No</label><span class="text-danger">*</span>
                            <input type="text" id="txtImportVehicleNo" class="box_border form-control form-control-sm" onkeyup="convertToUppercase(this);" autocomplete="off" placeholder="Vehicle No..">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <label for="txtExcelFile" class="col-form-label-sm fw-bold">Choose File</label><span class="text-danger">*</span>
                            <input type="file" id="txtExcelFile" class="box_border form-control form-control-sm" autocomplete="off" accept=".xlsx, .xls">
                        </div>
                       @*  <div class="col-md-3 col-sm-6" style="margin-top: 33px !important;">
                            <button class="btn btn-primary btn-height" id="btnImport" onclick="SaveImportFile()">Save</button>
                            <button class="btn btn-danger btn-height" onclick="BackImport()">Back</button>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body mt-2" id="ImportTable">
        <div class="table-wrapper fixed-height-table">
            <table id="table1" class="fixed-width-table table">
                <thead id="table-header1">
                </thead>
                <tbody id="table-body1">
                </tbody>
            </table>
        </div>
        <!-- Paginator -->
        <div class="paginator" id="paginator-table1">
        </div>
    </div>
</div>

<script src="~/assets/js/filter.js"></script>