@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/assets/script/pagesizeconfiguration.js"></script>

<section class="breadcrumbs1" id="txtheaderdiv" style="display:none">
    <div class="container-fluid" style="">
        <div class="fix-header">
            <div class="row">
                <div class="col-md-6 col-6">
                    <div class="icon-tab">
                        <a class="btn-icon me-1" id="txtSave" title="Save"><i class='bx bx-save'></i></a>
                        @* <a class="btn-icon btn-danger" id="btnBack" title="Back"><i class='bx bx-arrow-back'></i></a> *@
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <div id="tab1" class="tabSec tab active">NEW</div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
<form class="BizSolFormControl">
        <div class="card shadow-sm" style="background-color:#e9e9ef">
            <div class="tabs">
               @*  <div class="tab-header">
                    <div id="tab1" class="tab active" style="color:white">NEW</div>
                </div> *@
                <div class="row p-1">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <label for="txtPageSizeOption" class="col-form-label-sm fw-bold">Page Size Option<span class="text-danger">*</span> </label>
                            <input type="text" id="txtPageSizeOption" onkeypress="return OnChangeNumericWithCommaTextBox(event,this);" class="box_border form-control form-control-sm BizSolFormControl" placeholder="Please enter comma separated value " autocomplete="off" maxlength="300">
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label for="txtPageSize" class="col-form-label-sm fw-bold">Per Page Value <span class="text-danger">*</span> </label>
                            <input type="text" id="txtPageSize" onkeypress="return OnChangeNumericTextBox(event,this);" onkeydown="BizSolhandleEnterKey(event);" class="box_border form-control form-control-sm BizSolFormControl" placeholder="Please enter par page value" autocomplete="off" maxlength="3">
                            </div>
                           @*  <div class="col-md-3  col-sm-6 tex-end" style="margin-top: 30px !important;">
                            <input type="button" class="btn btn-primary btn-height BizSolFormControl" title="Save" id="txtSave" value="Save" />
                                <button class="btn btn-danger btn-height" title="Back" onclick="BackMaster()">Back</button>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
 </div>
