@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href="~/assets/css/filter.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/blockui.js"></script>
<link href="~/assets/css/loader.css" rel="stylesheet" />
<script src="~/assets/script/StockAuditConfiguration.js"></script>
<section class="breadcrumbs1" id="txtheaderdiv" style="display:none">
    <div class="container-fluid" style="">
        <div class="fix-header">
            <div class="row">
                <div class="col-md-6 col-6">
                    <div class="icon-tab">
                        <a class="btn-icon me-1" onclick="Save()" title="Save" id="txtsave"><i class='bx bx-save'></i></a>
                        <a class="btn-icon btn-danger" id="btnBack" onclick="BackMaster()" title="Back"><i class='bx bx-arrow-back'></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <div id="tab1" class="tabSec tab active">NEW</div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="sm-table mt-3" id="txtListpage">
        <div class="row">
            <div class="col-sm-12 text-end">
                <label></label>
                <button type="button" class="btn btn-success btn-height" title="CREATE NEW" onclick="CreateStockAuditConfig()">CREATE NEW</button>
            </div>
        </div>
        <div class="card-body mt-2" id="txtTable">
            <div class="table-wrapper fixed-height-table">
                <table id="table" class="fixed-width-table table">
                    <thead id="table-header">
                    </thead>
                    <tbody id="table-body">
                    </tbody>
                </table>
            </div>
            <div class="paginator" id="paginator-table">
            </div>
        </div>
    </div>
    <div id="txtCreatepage" style="display:none;">
        <div class="card shadow-sm" style="background-color:#e9e9ef">
            <div class="tabs">
                <div class="row p-1">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <label for="ddlCategory" class="col-form-label-sm fw-bold">Category</label> <span class="text-danger">*</span>
                                <input type="hidden" id="hfCode" value="0">
                                <select type="text" id="ddlCategory" class="box_border form-control form-control-sm" autocomplete="off">
                                </select>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label for="txtValue" class="col-form-label-sm fw-bold">Value</label> <span class="text-danger">*</span>
                                <input type="text" id="txtValue" class="box_border form-control form-control-sm" maxlength="50" autocomplete="off" placeholder="Value..">
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label for="txtCycleCountDays" class="col-form-label-sm fw-bold">Cycle Count Days</label> <span class="text-danger">*</span>
                                <input type="text" id="txtCycleCountDays" class="box_border form-control form-control-sm Phone" maxlength="5" autocomplete="off" placeholder="Cycle Count Days..">
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label for="txtPartLineCount" class="col-form-label-sm fw-bold">Part Line Count / Day</label> <span class="text-danger">*</span>
                                <input type="text" id="txtPartLineCount" class="box_border form-control form-control-sm Phone" maxlength="5" autocomplete="off" placeholder="Part Line Count..">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/filter.js"></script>


