@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href="~/assets/css/filter.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script src="~/assets/script/warehouse.js"></script>
<style>
    .tabs {
        width: 100%;
        max-width: 2000px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        overflow: hidden;
        padding: 0.7rem;
    }

    .tabSec {
        color: white;
        width: 117px;
        height: 36px;
        float: inline-end;
        font-size: 12px;
        text-align: center;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        line-height: 3;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        margin-top: -8px;
        background: #1d4b7d;
    }


    /*  .tab-header {
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
                } */

    .tab-content {
        display: none;
        padding: 16px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }

        .tab-content.active {
            display: block;
        }

    .tab[disabled] {
        cursor: not-allowed;
        opacity: 0.9;
    }

    .datepicker td, .datepicker th {
        border-radius: 20px !important;
    }

    .datepicker table tr td, .datepicker table tr td {
        padding: 8px 9px !important;
        height: 16px !important;
    }


    .fixed-height-table {
        height: auto;
    }

    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        /*  overflow: hidden;
                            height: auto; */
    }

    .datepicker table tfoot {
        display: none;
    }

    .fixed-height-table {
        height: auto;
    }

    .page-content {
        display: block;
    }

    .textCreatepage .tabs .fix-header {
        position: sticky;
        top: 0;
        background-color: #dddde4;
        z-index: 1000;
        padding: 8px 0 8px 9px;
        transition: background 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
        height: 36px;
    }


    .shadow-sm {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-color: #e9e9ef;
        margin-top: 15px;
        border-top: 1px solid #c9cae7;
    }

    .btn-icon {
        font-size: 14px;
        border-radius: 50%;
        background: #1d4b7d;
        color: #fff;
        padding: 6px;
    }

    .btn-icon {
        font-size: 14px;
        border-radius: 20px;
        background: #1d4b7d;
        color: #fff;
        padding: 6px;
    }

    .btn-danger {
        background-color: #ab1624;
    }

    .highlight {
        background-color: #f5c0bfc4;
    }

    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        /*  overflow: hidden;
                            height: auto; */
    }

    .container {
        overflow: auto;
        height: 81vh;
        /* overflow: hidden; */
    }

    .breadcrumbs1 {
        background: #dddde4;
        position: sticky;
        top: 0;
        background-color: #dddde4;
        z-index: 1000;
        padding: 8px 0px 0px 9px;
        /* border-top-right-radius: 5px;
                            border-top-left-radius: 5px; */
        box-shadow: 0 2px 4px rgb(96 95 95 / 90%);
        /* height: 36px; */
        box-shadow: 0 1px 1px rgb(76 76 76 / 90%);
    }

    .page-content {
        padding: 3px 0;
    }
</style>
<section class="breadcrumbs1" id="txtheaderdiv" style="display:none">
    <div class="container-fluid" style="">
        <div class="fix-header">
            <div class="row">
                <div class="col-md-6 col-6">
                    <div class="icon-tab">
                        <a class="btn-icon me-1" onclick="Save()" id="txtbtnSave" title="Save"><i class='bx bx-save'></i></a>
                        <a class="btn-icon btn-danger" id="btnBack" onclick="BackMaster()" title="Back"><i class='bx bx-arrow-back'></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <div id="tab1" class="tabSec tab active">NEW</div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="sm-table mt-3" id="txtListpage">
    <div class="row">
        <div class="col-sm-12 text-end">
            <label></label>
             <button type="button" class="btn btn-primary btn-height" title="DOWNLOAD" onclick="DataExport()">DOWNLOAD</button>
            <button type="button" class="btn btn-success btn-height" title="CREATE NEW" onclick="CreateWarehouseMaster()">CREATE NEW</button>
        </div>
    </div>
    <div class="card-body mt-2" id="txtwarehousetable">
        <div class="table-wrapper fixed-height-table">
            <table id="table" class="fixed-width-table table">
                <thead id="table-header">
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
        </div>
        <!-- Paginator -->
        <div class="paginator" id="paginator-table">
        </div>
    </div>
</div>
<div id="txtCreatepage" style="display:none;">
    <div class="card shadow-sm" style="background-color:#e9e9ef">
        <div class="tabs">
            <div class="row p-1">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="txtUOM" class="col-form-label-sm fw-bold">
                                Warehouse Name <span class="text-danger">*</span>
                            </label>
                            <input type="hidden" value="0" id="hftxtCode" />
                            <input type="text" id="txtWarehouseName" name="txtWarehouseName" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Warehouse Name" maxlength="50">
                        </div>
                        <div class="col-md-3 d-none">
                            <label for="txtWarehouseType" class="col-form-label-sm fw-bold">
                                Warehouse Type
                            </label>
                            <input type="text" id="txtWarehouseType" name="txtWarehouseType" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Warehouse Type" maxlength="64">
                        </div>
                        <div class="col-md-3 d-none">
                            <label for="txtAddress" class="col-form-label-sm fw-bold">
                                Address
                            </label>
                            <input type="text" id="txtAddress" name="txtAddress" autocomplete="off" class="form-control form-control-sm box_border" placeholder="Address" maxlength="128">
                        </div>
                        <div class="col-md-3 d-none">
                            <label for="txtPin" class="col-form-label-sm fw-bold">
                                Pin
                            </label>
                            <input type="text" id="txtPin" name="txtPin" autocomplete="off" class="Number form-control form-control-sm box_border" placeholder="Pin" maxlength="6">
                        </div>
                        <div class="col-md-3">
                            <label for="txtCity" class="col-form-label-sm fw-bold">
                                City
                            </label><span class="text-danger">*</span>
                            <datalist id="txtCityList"></datalist>
                            <input list="txtCityList" id="txtCity" name="txtCity" autocomplete="off" class="form-control form-control-sm box_border" placeholder="City">
                        </div>
                        <div class="col-md-3 d-none ">
                            <label for="txtGSTIN" class="col-form-label-sm fw-bold">
                                GSTIN
                            </label>
                            <input type="text" id="txtGSTIN" name="txtGSTIN" autocomplete="off" class="form-control form-control-sm box_border" placeholder="GST IN" maxlength="15">
                        </div>
                        <div class="col-md-2 mt-3">
                            <label for="txtDefaultWarehouse"></label>
                            <input type="checkbox" id="txtDefaultWarehouse" name="txtDefaultWarehouse" class="box_border" checked />
                            <label for="txtDefaultWarehouse">Default Warehouse</label>
                        </div>
                    </div>
                </div>
            </div>
          @*   <div class="row m-2">
                <div class="col-md-12" style="margin-top: 30px !important;">
                    <button class="btn btn-primary btn-height" title="Save" onclick="Save()" id="txtbtnSave">Save</button>
                    <button class="btn btn-danger btn-height" title="Back" onclick="BackMaster()">Back</button>
                </div>
            </div> *@
        </div>
    </div>
</div>
</div>
<script src="~/assets/js/filter.js"></script>


