@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    
    /* In your dashboard BG CSS */
    .main-content {
        background-image: url('../assets/images/users/e-SMS-banner.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 90vh;
        /* margin-left: 70px; */
    }

    @@media only screen and (width: 768px) and (max-width: 1366px) {
        .main-content {
            background-image: url('../assets/images/users/ESMS-ipad.png');
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
        }
    }

    @@media (min-width: 320px) and (max-width: 480px) {
        .main-content {
            background-image: url('../assets/images/users/ESMS.png');
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
        }
    }

</style>
<div alt="banner" class="banner">

    <!-- start page title -->
    <!-- end page title -->

    <div class="row">
        <div class="col-md-12">
            @* <img src="/assets/images/users/erpBanner.png" alt="banner" class="banner"/> *@
            @* <img src="~/assets/images/users/erp-banner1.png" alt="banner" class="banner"/> *@
        </div>
    </div>

    @*  <div class="row">
    <div class="col-xl-3 col-md-6">

    <div class="card card-h-100">

    <div class="card-body">
    <div class="row align-items-center">
    <div class="col-6">
    <span class="text-muted mb-3 lh-1 d-block text-truncate">My Wallet</span>
    <h4 class="mb-3">
    $<span class="counter-value" data-target="865.2">0</span>k
    </h4>
    </div>

    <div class="col-6">
    <div id="mini-chart1" data-colors='["#5156be"]' class="apex-charts mb-2"></div>
    </div>
    </div>
    <div class="text-nowrap">
    <span class="badge bg-success-subtle text-success">+$20.9k</span>
    <span class="ms-1 text-muted font-size-13">Since last week</span>
    </div>
    </div>
    </div>
    </div>
    </div> *@

    

</div>





