@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/assets/script/login.js"></script>
 
    <title>Login ESMS</title>
    <style>
        .login-containers {
            position: relative;
            z-index: 1;
            padding: 20px 30px;
            border-radius: 10px;
            box-shadow: 0 0 90px rgb(191 201 191);
            max-width: 370px;
            margin-left: 640px;
            margin-top:30px;
        }
        .login-containers h2 {
        margin: 0 0 40px;
        color: #e06413;
        font-size: 24px;
        }
        .login-containers input::placeholder {
        color: #aaa;
        }
        .login-containers a {
        display: inline-block;
        margin: 10px 5px;
        color: #ef6c00;
        text-decoration: none;
        font-size: 14px;
        }

        .login-containers a:hover {
        text-decoration: underline;
        }
        .login-containers button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
       background: #275481;
        color: white;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        }
        .login-containers button:hover {
       background: #275481;
        }
    .fa-2x {
        font-size: 1.5em;
    }
    </style>

    <div class="login-containers">
        <h4 class="modal-title center ">
            <img style="height:40px;vertical-align:bottom" src="~/assets/images/bizsol-logo-small.gif" />
            <font style="font-size: xx-large;line-height: 1.3;"> <span style="color:#ef6c00;">B</span><span style="color: #569252;">iz</span><span style="color:#ef6c00;">S</span><span style="color:#569252;">o</span><span style="color:#ef6c00;">l</span> </font>
          e-SMS
        <span class="text-right"><i class="fa fa-lock fa-2x"></i></span>
        </h4>
        
        <form id="loginForm" method="post">
            <div class="mb-3">
                <label for="txtCompanyCode" class="form-label"><b>Company Code</b></label>
                <input id="txtCompanyCode" name="CompanyCode" class="form-control" placeholder="Enter Company Code" type="text" required autocomplete="off">
            </div>
            <button id="btnValidateCompany">Proceed</button>
            <div id="userCredentials" style="display: none;">
            <div class="mb-3"id="txtU">
                <label for="txtUserID" class="form-label"><b>UserID</b></label>
                <input id="txtUserID" name="UserID" class="form-control" placeholder="Enter User ID" type="text" required autocomplete="off">
            </div>
            <div class="mb-3" id="txtP">
                <label for="txtPassword" class="form-label"><b>Password</b></label>
                <input id="txtPassword" name="Password" class="form-control" placeholder="Enter Password" autocomplete="off" type="password" required>
            </div>
            <button id="btnProceed" type="button" class="btn col-12">Login</button>
            </div>
        </form>
    </div>





